apiVersion: apps/v1
kind: Deployment
metadata:
  name: dating-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dating-app
  template:
    metadata:
      labels:
        app: dating-app
    spec:
      containers:
      - name: dating-app
        image: jack0028/dating-app:latest   # Jenkins updates this to :<BUILD_NUMBER>
        ports:
        - containerPort: 8080
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 30
